/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

/* personal CSS */
ul{
  list-style: none;
}

li{
  text-decoration: none;
  color: bisque;
  margin: 0!important;
  list-style: none;
}

.menu{
  text-decoration: none;
  color: bisque;
}

.col-md-2{
  border: bisque solid 0.3px;
  padding: 1.5em;
  margin: 1em;
}

h3{
  color: bisque;
  margin-bottom: 1em!important;
}

h4{
  color: bisque!important;
  margin-bottom: 1em!important;
}

.div-manager{
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1em 0 1em 0;
  border-top: #666666 solid 0.1px;
  border-bottom: #666666 solid 0.1px;
}

.div-tags{
  margin: 0.5em 0.5em 0.5em;
  display: inline-block!important;
}
